
.pageHead{
    height:330px;
    width:1150px;
    display: flex;
    background-color: whitesmoke;
    padding: 2px 2px;
    margin: 10px 10px 5px 10px;
}

.itemContainer{
    display: flex;
}


.leftSection{
    display: flex;
    flex-direction: column;
}
.tag {
    background-color:lightgrey;
    opacity:0.8;
    display: flex;
    width: 136px;
    height: 100px;
    padding: 4px 15px;
    margin-left: 45px;
    margin-top: 10px;
    margin-right: 6px;
    font-family: "Courier New", serif;
    font-size: medium;
    border-radius: 15px;
}
.active{
    background-color:#66cc00;
    opacity:0.8;
    margin-left: 75px;
}
.rightSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item {
    background-color:whitesmoke;
    width:420px;
    height:280px;
    border-radius:3px;
    color:whitesmoke;
    display:flex;
    flex-wrap: wrap;
    float:right;

    justify-content:center;

    margin-bottom: 10px;
    margin-top:10px;
    margin-left:15px;
}
.book-picture{
    height:200px;
    width:158px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px solid lightgray;
}
a {
    text-decoration: none;
    color: green;
    font-size:1em;
}

.btn{
    width: 100px;
    height: 40px;
}
.btn-green{
    background-color: #66cc00;
    opacity:0.8;
    border-radius: 8px;
}

.btn-green-center {
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 25px;
}

h4{
    display: flex;
    flex-wrap: wrap;
    float: right;
    width: 172px;
    height: 150px;
    font-family: "Courier New", serif;
    font-size: small;
    margin-left: 5px;
    color: black;
}
form{
    display:flex;
    flex-wrap: wrap;
    margin-top:40px;
}

#by{
    text-decoration-color: silver;
}